@(message: String, user: User)

@main(message) {
    <div data-role="header">
        <h1>Account settings</h1>
    </div>
    <div id="default" data-role="main" class="ui-content">
        <ul data-role="listview">
            <li>
                <a href="/changePW" class="ui-btn">Change password</a>
            </li>
            <li>
                <a href="#paychange" clasS="ui-btn">Change payment method</a>
            </li>
            <li>
                <a href="/logout" class="ui-btn">Log out</a>
            </li>
        </ul>
    </div>
}