@(message: String, station: Liftstation)

@main(message){

		<div id="jump" data-role="main" data-type="ui-content">
		<form name='add' method="post">
			<div data-role="header">
				<h2>Choose the number of seats:</h2>
			</div>

			<div data-role="main" data-type="ui-content">
				<label for="slider-1" style="text-align:center;"></label>
				<div id="slider">
					<input type="range" name="slider-1" id="slider-1" data-popup-enabled="true" data-highlight="true" value="1" min="1" max="@station.capacity" />
				</div>
				<h3 style="text-align:center;" id="slider-value">0€</h3>
			<!--<input class="myButton" type='submit' name='submit' value="jump the queue"/>-->
			<a href="/confirm" class="ui-btn">Jump the queue</a>
			</div>
		</form>
	</div>

	<script>
	$("#slider").change(function() {
	var SliderValue = $("#slider-1").val();
	$("#slider-value").text(SliderValue + "€");
	});
	</script>
}
