@(message: String, station: Liftstation)

@main(message){

		<div id="jump" data-role="main" data-type="ui-content">
		<form name='add' method="post">
			<div data-role="header">
				<h2>Choose the number of seats:</h2>
			</div>

			<div data-role="main" data-type="ui-content">
			<select>
			@for(i <- 1 to station.capacity) {
				<option value ='@i'>@i</option>
			}

  			</select>
			<!--<input class="myButton" type='submit' name='submit' value="jump the queue"/>-->
			<a  data-ajax="false" href="#confirm" class="ui-btn">Jump the queue</a>
			</div>
		</form>
	</div>
}

	<div data-dialog="true" id="confirm" >
		<div data-role="main" data-type="ui-content">
			<p>Please confirm that you really want to rent the seats!</p>
			<a data-ajax="false" href="#confirm" class="ui-shadow ui-btn">Confirm</a>
			<a data-ajax="false" href="#jump" class="ui-btn">Cancel</a>
		</div>
	</div>
