@(message: String, station: Liftstation)

@main(message){

		<div data-role="page" id="jump">
		<form name='add' method="post">
			<div data-role="header">
				<h2>Choose the number of seats:</h2>
			</div>


			<select>
			@for(i <- 1 to station.capacity) {
				<option value ='@i'>@i</option>
			}

  			</select>
		<br><br>
			<!--<input class="myButton" type='submit' name='submit' value="jump the queue"/>-->
			<a href="#confirm" class="ui-btn">Jump the queue</a>
		</form>
	</div>
}

	<div data-role="page" data-dialog="true" id="confirm">

		<div data-role="main" data-type="ui-content">
			<p>
				Please confirm that you really want to rent the seats!
			</p>
			<a href="#confirm" class="ui-btn">Confirm</a>
			<a href="#jump" class="ui-btn">Cancel</a>
		</div>

	</div>
