@(stations: List[Liftstation], user: User)

<div id='list'>
	<ul>
	@for(station <- stations) {
		<a  href="jump/@station.ID">
		<li>
			<img src="http://images.snow-online.de/2010-2011/oesterreich/Tirol/skigebiet-HochfuegenHochzillertalThebestconnection//Hochfuegen-startet-am-20112010_0_500.jpg" width="200" height="150">
			<h2>@station.getName()</h2>
			<h3>PLZ: @station.plz</h3>
			<h3>capacity: @station.capacity</h3>
			@if(user.isFav(station)){
				<a href="/favourites/@station.ID/remove" class="myButton">Remove</a>
			}else{
				<a href="/favourites/@station.ID" class="myButton">Add to favourites</a>
			}
		</li>
		</a>
	}
	</ul>

</div>