@(stations: List[Liftstation], user: User)

<div>
	<ul data-role="listview" data-inset="true">
	@for(station <- stations) {
		<li>
		<a data-ajax="false" href="jump/@station.ID">

				<h1>@station.getName()</h1>
				<p>PLZ: @station.plz</p>
				<p>capacity: @station.capacity</p>
				@if(user == null || !user.isFav(station)){
					<a data-ajax="false" href="/favourites/@station.ID/remove" class="ui-btn"><h3>Remove</h3></a>
				}else{
					<a data-ajax="false" href="/favourites/@station.ID" class="ui-btn"><h3>Add to favourites</h3></a>
				}

		</a>
		</li>
	}
	</ul>

</div>