@(message:String, form: Form[User])

@import helper._

@main(message) {

	<div data-role="header">
		<h1>Register</h1>
	</div>

	@helper.form(routes.Usermanager.newUser) {

		<p>
			<input type="email" name="mail" placeholder="Email">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>Payment method:</p>
		<select name="paymentMethod">

			<option value="paypal">PayPal</option>
			<option value="visa">Visa</option>
			<option value="master">Mastercard</option>
		</select>
		<p>
			<button type="submit">Register</button>
		</p>



	}
}

